app = "goatbiz"
primary_region = "iad"
kill_signal = "SIGTERM"
kill_timeout = 5

[build]

[deploy]
  release_command = "/app/bin/migrate"

[env]
  PHX_HOST = "goatbiz.fly.dev"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  size = "shared-cpu-2x"
  memory = "2gb"
